.header {
  background-color: aqua;
  width: 100%;
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  min-height: 60px;
  padding: 20px 0;
}

.search-form__input,
.search-form__btn {
  border: 0;
  height: 30px;
  border-radius: 10px;
}
.search-form__input {
  padding: 10px;
}
