<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <form class="search-form js-form" id="search-form">
                <input class="search-form__input js-form-input" type="text" name="searchQuery" autocomplete="off"
                    placeholder="Search images..." />
                <button class="search-form__btn js-form-btn" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
<article class="container">
    <div class="gallery">
        <ul class="gallery__list"></ul>
        <button type="button" class="load-more hidden">Load more</button>
    </div>
</article>